.dishes-preview, .counters-preview, .cafeterias-preview, .recommendations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 60px;
    /* 调整间距 */
    justify-content: flex-start;
}

.dishes-preview, .counters-preview, .cafeterias-preview, .recommendations-container, a {
    text-decoration: none;
    color: inherit;
}